In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
Fraser_Qual = pd.read_csv('./Water-Qual-Eau-Fraser-2000-present.csv', parse_dates=['DATE_TIME_HEURE'])

In [3]:
Fraser_Qual.head()

,SITE_NO,DATE_TIME_HEURE,FLAG_MARQUEUR,VALUE_VALEUR,SDL_LDE,MDL_LDM,VMV_CODE,UNIT_UNITÉ,VARIABLE,VARIABLE_FR,STATUS_STATUT,SAMPLE_ID_ÉCHANTILLON
0,BC08KA0007,2000-01-12 07:45:00,NaN,59.1000,0.5000,NaN,1131,MG/L,ALKALINITY TOTAL CACO3,ALCALINITÉ TOTALE CACO3,V,00PY000127
1,BC08KA0007,2000-01-12 07:45:00,NaN,0.0610,0.0020,NaN,100216,MG/L,ALUMINUM TOTAL,ALUMINIUM TOTAL,V,00PY000127
2,BC08KA0007,2000-01-12 07:45:00,NaN,14.5000,0.0100,NaN,100493,µG/L,BARIUM EXTRACTABLE,BARYUM EXTRACTIBLE,V,00PY000127
3,BC08KA0007,2000-01-12 07:45:00,NaN,0.0141,0.0002,NaN,100217,MG/L,BARIUM TOTAL,BARYUM TOTAL,V,00PY000127
4,BC08KA0007,2000-01-12 07:45:00,<,0.0020,0.0020,NaN,100474,µG/L,BERYLLIUM EXTRACTABLE,BÉRYLLIUM EXTRACTIBLE,V,00PY000127

In [4]:
type(Fraser_Qual['DATE_TIME_HEURE'][0])

pandas._libs.tslibs.timestamps.Timestamp

In [5]:
Fraser_Qual['VARIABLE'].unique()

array(['ALKALINITY TOTAL CACO3', 'ALUMINUM TOTAL', 'BARIUM EXTRACTABLE',
       'BARIUM TOTAL', 'BERYLLIUM EXTRACTABLE', 'BERYLLIUM TOTAL',
       'BORON EXTRACTABLE', 'CADMIUM EXTRACTABLE', 'CADMIUM TOTAL',
       'CALCIUM EXTRACTABLE/UNFILTERED', 'CARBON DISSOLVED INORGANIC',
       'CARBON DISSOLVED ORGANIC', 'CHLORIDE DISSOLVED', 'CHROMIUM TOTAL',
       'COBALT EXTRACTABLE', 'COBALT TOTAL', 'COLOUR TRUE',
       'COPPER EXTRACTABLE', 'COPPER TOTAL', 'GALLIUM EXTRACTABLE',
       'HARDNESS TOTAL (CALCD.) CACO3', 'LANTHANUM EXTRACTABLE',
       'LEAD EXTRACTABLE', 'LEAD TOTAL', 'LITHIUM EXTRACTABLE',
       'LITHIUM TOTAL', 'MAGNESIUM EXTRACTABLE/UNFILTERED',
       'MANGANESE EXTRACTABLE', 'MANGANESE TOTAL', 'MOLYBDENUM TOTAL',
       'NICKEL EXTRACTABLE', 'NICKEL TOTAL', 'NITROGEN TOTAL DISSOLVED',
       'PHOSPHORUS TOTAL DISSOLVED', 'POTASSIUM EXTRACTABLE',
       'RUBIDIUM EXTRACTABLE', 'SILICON EXTRACTABLE',
       'SILVER EXTRACTABLE', 'SILVER TOTAL', 'SODIUM EXTRACTABLE',
       'SPECIFIC CONDUCTANCE', 'STRONTIUM EXTRACTABLE', 'STRONTIUM TOTAL',
       'TEMPERATURE (WATER)', 'THALLIUM EXTRACTABLE', 'TURBIDITY',
       'URANIUM EXTRACTABLE', 'VANADIUM EXTRACTABLE', 'VANADIUM TOTAL',
       'ZINC EXTRACTABLE', 'ZINC TOTAL', 'IRON TOTAL', 'FECAL COLIFORMS',
       'TEMPERATURE (AIR)', 'CHROMIUM EXTRACTABLE', 'PH',
       'CALCIUM DISSOLVED', 'MAGNESIUM DISSOLVED', 'ALUMINUM EXTRACTABLE',
       'ANTIMONY EXTRACTABLE', 'ANTIMONY TOTAL', 'ARSENIC EXTRACTABLE',
       'ARSENIC TOTAL', 'BISMUTH EXTRACTABLE', 'BISMUTH TOTAL',
       'BORON TOTAL', 'GALLIUM TOTAL', 'IRON EXTRACTABLE',
       'LANTHANUM TOTAL', 'MOLYBDENUM EXTRACTABLE', 'RUBIDIUM TOTAL',
       'SELENIUM EXTRACTABLE', 'SELENIUM TOTAL', 'THALLIUM TOTAL',
       'URANIUM TOTAL', 'CERIUM EXTRACTABLE', 'CERIUM TOTAL',
       'CESIUM EXTRACTABLE', 'CESIUM TOTAL', 'NIOBIUM EXTRACTABLE',
       'NIOBIUM TOTAL', 'PLATINUM EXTRACTABLE', 'PLATINUM TOTAL',
       'TIN EXTRACTABLE', 'TIN TOTAL', 'TUNGSTEN EXTRACTABLE',
       'TUNGSTEN TOTAL', 'YTTRIUM EXTRACTABLE', 'YTTRIUM TOTAL',
       'ALKALINITY GRAN CACO3', 'PHOSPHORUS TOTAL', 'OXYGEN DISSOLVED',
       'SULPHATE DISSOLVED', 'ALKALINITY PHENOLPHTHALEIN CACO3',
       'BROMIDE DISSOLVED', 'COLOUR APPARENT', 'FLUORIDE DISSOLVED',
       'ORTHOPHOSPHORUS DISSOLVED', 'SODIUM DISSOLVED/FILTERED',
       'DISSOLVED NITRITE/NITRATE', 'NITROGEN KJELDAHL DISSOLVED',
       'POTASSIUM DISSOLVED/FILTERED', 'SULPHUR DISSOLVED',
       'DISSOLVED NITROGEN NITRATE', 'NITROGEN KJELDAHL TOTAL',
       'NITROGEN NITRITE', 'NITROGEN TOTAL', 'SULPHUR TOTAL',
       'RESIDUE NONFILTERABLE', 'CHLORIDE', 'HARDNESS TOTAL',
       'NITRATE AND NITRITE (AS N)', 'SULPHATE',
       'TEMPERATURE WATER (FIELD)', 'TOTAL NITRATE', 'TITANIUM TOTAL',
       'EUROPIUM TOTAL', 'GADOLINIUM TOTAL RECOVERABLE',
       'GERMANIUM TOTAL', 'HAFNIUM TOTAL', 'HOLMIUM TOTAL',
       'INDIUM TOTAL', 'IRIDIUM TOTAL', 'LUTETIUM TOTAL',
       'NEODYMIUM TOTAL', 'PRASEODYMIUM TOTAL', 'RUTHENIUM TOTAL',
       'SAMARIUM TOTAL', 'SCANDIUM TOTAL', 'TELLURIUM TOTAL',
       'TERBIUM TOTAL', 'YTTERBIUM TOTAL', 'ZIRCONIUM TOTAL',
       'PALLADIUM TOTAL', 'PH (FIELD)', 'ESCHERICHIA COLI',
       'SILICON DISSOLVED', 'CONDUCTANCE (FIELD)', 'NITRATE (NO3-N)',
       'ALUMINUM DISSOLVED', 'ANTIMONY DISSOLVED', 'ARSENIC DISSOLVED',
       'BARIUM DISSOLVED', 'BERYLLIUM DISSOLVED', 'BISMUTH DISSOLVED',
       'BORON DISSOLVED', 'CADMIUM DISSOLVED', 'CERIUM DISSOLVED',
       'CESIUM DISSOLVED', 'CHROMIUM DISSOLVED', 'COBALT DISSOLVED',
       'COPPER DISSOLVED', 'GALLIUM DISSOLVED', 'IRON DISSOLVED',
       'LANTHANUM DISSOLVED', 'LEAD DISSOLVED', 'LITHIUM DISSOLVED',
       'MANGANESE DISSOLVED', 'MOLYBDENUM DISSOLVED', 'NICKEL DISSOLVED',
       'NIOBIUM DISSOLVED', 'PALLADIUM DISSOLVED', 'PLATINUM DISSOLVED',
       'RUBIDIUM DISSOLVED', 'SELENIUM DISSOLVED', 'SILVER DISSOLVED',
       'STRONTIUM DISSOLVED', 'THALLIUM DISSOLVED', 'TIN DISSOLVED',
       'TITANIUM DISSOLVED', 'TUNGSTEN DISSOLVED', 'URANIUM DISSOLVED',
       'VANADIUM DISSOLVED', 'YTTRIUM DISSOLVED', 'ZINC DISSOLVED',
       'AMMONIA DISSOLVED', 'CARBON TOTAL INORGANIC',
       'CARBON TOTAL ORGANIC', 'ENTEROCOCCUS',
       'NITROGEN TOTAL ORGANIC (CALCD.)', 'RESIDUE FILTERABLE',
       'RESIDUE TOTAL', 'SALINITY', 'NITROGEN DISSOLVED ORGANIC (CALCD.)',
       'AMMONIA TOTAL', 'FLUORIDE TOTAL', 'ORTHOPHOSPHATE DISSOLVED',
       'NITROGEN TOTAL ORGANIC', 'NITROGEN INORGANIC TOTAL (CALCD.)',
       'SILICA REACTIVE', 'TOTAL DISSOLVED SOLIDS (FILTERABLE RESIDUE)',
       'EUROPIUM DISSOLVED', 'GADOLINIUM DISSOLVED',
       'GERMANIUM DISSOLVED', 'HAFNIUM DISSOLVED', 'HOLMIUM DISSOLVED',
       'INDIUM DISSOLVED', 'IRIDIUM DISSOLVED', 'LUTETIUM DISSOLVED',
       'NEODYMIUM DISSOLVED', 'PRASEODYMIUM DISSOLVED',
       'RUTHENIUM DISSOLVED', 'SAMARIUM DISSOLVED', 'SCANDIUM DISSOLVED',
       'TELLURIUM DISSOLVED', 'TERBIUM DISSOLVED', 'YTTERBIUM DISSOLVED',
       'ZIRCONIUM DISSOLVED', 'TURBIDITY (FIELD)',
       'OXYGEN DISSOLVED % SATURATION', 'CYANIDE TOTAL',
       'CYANIDE WEAK ACID DISSOCIABLE', 'BICARBONATE (CALCD.)',
       'CARBONATE (CALCD.)', 'ORGANIC HALIDES (AOX) - ADSORBABLE',
       'COLOUR TOTAL ABSORBANCE', 'HYDROXIDE (CALCD.)', 'COLIFORMS TOTAL',
       'BROMINE EXTRACTABLE', 'BROMIDE', 'GRAN ALKALINITY (AS H+)'],
      dtype=object)

In [6]:
len(Fraser_Qual['VARIABLE'].unique())

221

In [7]:
Fraser_qual = Fraser_Qual.rename(columns={'DATE_TIME_HEURE':'Time', 'VALUE_VALEUR':'Value', 'UNIT_UNITÉ':'Units', 'VARIABLE':'Variable'})

In [8]:
Fraser_qual = Fraser_qual.drop(columns=list(set([col for col in Fraser_qual.columns]) - set(['Time','Value','Units','Variable'])))
Fraser_qual

                      Time    Value  Units                   Variable
0      2000-01-12 07:45:00  59.1000   MG/L     ALKALINITY TOTAL CACO3
1      2000-01-12 07:45:00   0.0610   MG/L             ALUMINUM TOTAL
2      2000-01-12 07:45:00  14.5000   µG/L         BARIUM EXTRACTABLE
3      2000-01-12 07:45:00   0.0141   MG/L               BARIUM TOTAL
4      2000-01-12 07:45:00   0.0020   µG/L      BERYLLIUM EXTRACTABLE
...                    ...      ...    ...                        ...
380089 2023-10-23 09:08:00  11.9000   MG/L                   SULPHATE
380090 2023-10-23 09:08:00  11.2000  DEG C          TEMPERATURE (AIR)
380091 2023-10-23 09:08:00  13.4000  DEG C  TEMPERATURE WATER (FIELD)
380092 2023-10-23 09:08:00   0.0770   MG/L              TOTAL NITRATE
380093 2023-10-23 09:08:00   5.3800    NTU                  TURBIDITY

[380094 rows x 4 columns]

In [9]:
Fraser_qual['Time'] = Fraser_qual['Time'].dt.year

In [10]:
var1 = Fraser_qual['Variable'].unique()[0]
var1

'ALKALINITY TOTAL CACO3'

In [11]:
var1_df = Fraser_qual.loc[Fraser_qual['Variable']==var1]
var1_df

        Time  Value Units                Variable
0       2000   59.1  MG/L  ALKALINITY TOTAL CACO3
51      2000   63.5  MG/L  ALKALINITY TOTAL CACO3
103     2000   63.3  MG/L  ALKALINITY TOTAL CACO3
157     2000   64.9  MG/L  ALKALINITY TOTAL CACO3
211     2000   64.4  MG/L  ALKALINITY TOTAL CACO3
...      ...    ...   ...                     ...
379640  2023   41.5  MG/L  ALKALINITY TOTAL CACO3
379746  2023   42.5  MG/L  ALKALINITY TOTAL CACO3
379851  2023   42.1  MG/L  ALKALINITY TOTAL CACO3
379956  2023   43.7  MG/L  ALKALINITY TOTAL CACO3
380061  2023   37.5  MG/L  ALKALINITY TOTAL CACO3

[2918 rows x 4 columns]

In [12]:
#var1_df.groupby('Time').mean(numeric_only=True).reset_index().rename(columns={'Value':var1})
var1_avg = var1_df.groupby('Time').mean(numeric_only=True).rename(columns={'Value':var1})
var1_avg

      ALKALINITY TOTAL CACO3
Time
2000               71.322857
2001               60.568966
2002               82.838298
2003               88.102041
2004               59.965714
2005               55.619444
2006               52.430000
2007               54.378676
2008               53.419130
2009               54.654032
2010               52.257364
2011               52.112566
2012               48.749329
2013               51.882333
2014               51.206169
2015               51.571674
2016               51.775135
2017               52.028659
2018               52.136047
2019               53.825749
2020               56.795349
2021               55.452381
2022               54.711852
2023               56.763636

In [13]:
var2 = Fraser_qual['Variable'].unique()[1]
var2_df = Fraser_qual.loc[Fraser_qual['Variable']==var2]
var2_avg = var2_df.groupby('Time').mean(numeric_only=True).rename(columns={'Value':var2})
var2_avg

      ALUMINUM TOTAL
Time
2000        0.606259
2001        0.622333
2002        0.923313
2003      584.381263
2004      729.141667
2005      693.300000
2006      652.014163
2007      785.503187
2008      620.192339
2009      658.532157
2010      470.567331
2011      599.855755
2012      575.852518
2013      524.559551
2014      590.081633
2015      401.128689
2016      417.802839
2017      522.518571
2018      472.781455
2019      526.916786
2020      250.873973
2021      709.752174
2022      670.697021
2023      885.372868

In [14]:
Fraser_water_qual = pd.concat([var1_avg,var2_avg],axis=1)
Fraser_water_qual

      ALKALINITY TOTAL CACO3  ALUMINUM TOTAL
Time
2000               71.322857        0.606259
2001               60.568966        0.622333
2002               82.838298        0.923313
2003               88.102041      584.381263
2004               59.965714      729.141667
2005               55.619444      693.300000
2006               52.430000      652.014163
2007               54.378676      785.503187
2008               53.419130      620.192339
2009               54.654032      658.532157
2010               52.257364      470.567331
2011               52.112566      599.855755
2012               48.749329      575.852518
2013               51.882333      524.559551
2014               51.206169      590.081633
2015               51.571674      401.128689
2016               51.775135      417.802839
2017               52.028659      522.518571
2018               52.136047      472.781455
2019               53.825749      526.916786
2020               56.795349      250.873973
2021               55.452381      709.752174
2022               54.711852      670.697021
2023               56.763636      885.372868

In [17]:
for i in range(2,len(Fraser_qual['Variable'].unique())):
    var = Fraser_qual['Variable'].unique()[i]
    var_df = Fraser_qual.loc[Fraser_qual['Variable']==var]
    var_avg = var_df.groupby('Time').mean(numeric_only=True).rename(columns={'Value':var})
    Fraser_water_qual = pd.concat([Fraser_water_qual,var_avg],axis=1)

Fraser_water_qual

,ALKALINITY TOTAL CACO3,ALUMINUM TOTAL,BARIUM EXTRACTABLE,BARIUM TOTAL,BERYLLIUM EXTRACTABLE,BERYLLIUM TOTAL,BORON EXTRACTABLE,CADMIUM EXTRACTABLE,CADMIUM TOTAL,CALCIUM EXTRACTABLE/UNFILTERED,...,CYANIDE WEAK ACID DISSOCIABLE,BICARBONATE (CALCD.),CARBONATE (CALCD.),ORGANIC HALIDES (AOX) - ADSORBABLE,COLOUR TOTAL ABSORBANCE,HYDROXIDE (CALCD.),COLIFORMS TOTAL,BROMINE EXTRACTABLE,BROMIDE,GRAN ALKALINITY (AS H+)
Time,,,,,,,,,,,,,,,,,,,,,
2000,71.322857,0.606259,14.017391,0.022070,0.002870,0.054203,1.154348,0.006478,0.000188,20.246043,...,NaN,NaN,NaN,13.685714,13.172414,NaN,NaN,NaN,NaN,NaN
2001,60.568966,0.622333,13.485714,0.021149,0.003071,0.056541,0.782857,0.006786,0.000188,22.198734,...,NaN,NaN,NaN,17.400000,13.936170,NaN,NaN,NaN,NaN,NaN
2002,82.838298,0.923313,13.607727,0.025958,0.004400,0.064540,1.024000,0.006227,0.000187,21.235088,...,NaN,NaN,NaN,8.987368,43.555556,NaN,NaN,NaN,NaN,NaN
2003,88.102041,584.381263,13.691304,21.732909,0.003217,0.025741,0.777273,0.004261,0.019156,21.100000,...,0.000500,NaN,NaN,0.100000,NaN,NaN,NaN,NaN,NaN,NaN
2004,59.965714,729.141667,9.434375,23.478394,0.003224,0.018203,0.963043,0.005333,0.022405,20.373913,...,0.000513,NaN,NaN,0.100000,NaN,NaN,1717.222222,NaN,NaN,NaN
2005,55.619444,693.300000,9.886267,22.096752,0.005219,0.019397,4.343421,0.007187,0.021506,21.141935,...,0.000692,NaN,NaN,0.075000,NaN,NaN,4820.000000,NaN,NaN,NaN
2006,52.430000,652.014163,9.175797,22.486137,0.005522,0.017429,5.489855,0.007074,0.022175,19.490909,...,0.000500,NaN,NaN,0.066042,NaN,NaN,2895.555556,NaN,NaN,NaN
2007,54.378676,785.503187,10.283611,23.060476,0.006694,0.020722,4.472222,0.006429,0.017877,NaN,...,0.000500,116.526316,0.552632,0.076944,NaN,0.5,3197.692308,NaN,NaN,NaN
2008,53.419130,620.192339,NaN,22.442298,NaN,0.017996,NaN,NaN,0.016871,NaN,...,0.000506,NaN,NaN,0.072917,NaN,NaN,6547.500000,NaN,NaN,NaN
2009,54.654032,658.532157,NaN,24.230510,NaN,0.020313,NaN,NaN,0.024370,NaN,...,0.000504,NaN,NaN,0.043722,NaN,NaN,NaN,NaN,NaN,NaN
2010,52.257364,470.567331,NaN,19.862151,NaN,0.013805,NaN,NaN,0.016361,NaN,...,0.000545,NaN,NaN,0.013056,NaN,NaN,NaN,NaN,NaN,NaN
2011,52.112566,599.855755,NaN,22.053201,NaN,0.020428,NaN,NaN,0.022458,NaN,...,0.000555,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2012,48.749329,575.852518,NaN,21.453203,NaN,0.019968,NaN,NaN,0.022986,NaN,...,0.000530,NaN,NaN,NaN,NaN,NaN,NaN,0.041438,NaN,NaN
2013,51.882333,524.559551,NaN,21.885318,NaN,0.019852,NaN,NaN,0.021052,NaN,...,0.000597,NaN,NaN,NaN,NaN,NaN,NaN,0.043808,NaN,NaN
2014,51.206169,590.081633,NaN,21.423081,NaN,0.020202,NaN,NaN,0.020610,NaN,...,0.000749,NaN,NaN,NaN,NaN,NaN,NaN,0.045808,NaN,NaN
2015,51.571674,401.128689,NaN,18.561111,NaN,0.014388,NaN,NaN,0.015516,NaN,...,0.002456,NaN,NaN,NaN,NaN,NaN,NaN,0.040364,0.05000,0.127333
2016,51.775135,417.802839,NaN,18.767806,NaN,0.013721,NaN,NaN,0.015028,NaN,...,0.005000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.05004,0.101111
2017,52.028659,522.518571,NaN,20.411786,NaN,0.016172,NaN,NaN,0.015363,NaN,...,0.005000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.05000,NaN
2018,52.136047,472.781455,NaN,19.131119,NaN,0.014538,NaN,NaN,0.013696,NaN,...,0.005000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.05000,NaN
2019,53.825749,526.916786,NaN,19.689179,NaN,0.015761,NaN,NaN,0.014957,NaN,...,0.005000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.05000,NaN
2020,56.795349,250.873973,NaN,17.409178,NaN,0.009603,NaN,NaN,0.012973,NaN,...,0.005000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.05000,NaN
2021,55.452381,709.752174,NaN,20.863623,NaN,0.023401,NaN,NaN,0.017705,NaN,...,0.005278,NaN,NaN,NaN,NaN,NaN,3200.000000,NaN,0.05000,NaN
2022,54.711852,670.697021,NaN,21.062669,NaN,0.022576,NaN,NaN,0.025597,NaN,...,0.005000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.05000,NaN
2023,56.763636,885.372868,NaN,25.528295,NaN,0.029597,NaN,NaN,0.024760,NaN,...,0.005238,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.05000,NaN

In [18]:
# some variables only have early data
Fraser_qual.loc[Fraser_qual['Variable'] == Fraser_qual['Variable'].unique()[2]]

        Time  Value Units            Variable
2       2000  14.50  µG/L  BARIUM EXTRACTABLE
53      2000  14.10  µG/L  BARIUM EXTRACTABLE
105     2000  14.30  µG/L  BARIUM EXTRACTABLE
159     2000  14.40  µG/L  BARIUM EXTRACTABLE
213     2000  14.70  µG/L  BARIUM EXTRACTABLE
...      ...    ...   ...                 ...
337830  2007   3.31  µG/L  BARIUM EXTRACTABLE
337916  2007   2.64  µG/L  BARIUM EXTRACTABLE
338006  2007   2.76  µG/L  BARIUM EXTRACTABLE
338096  2007   2.32  µG/L  BARIUM EXTRACTABLE
338186  2007   2.12  µG/L  BARIUM EXTRACTABLE

[324 rows x 4 columns]

In [19]:
Fraser_water_qual.to_csv('Fraser_water_qual.csv')